<div class="container">
	<div class="row">
		<div class="col s4 offset-s4">
			<input type="text" name="search" placeholder="Search Text Here">
		</div>
		<div class="row"> <!-- This div is a buttons div -->
			<div class="col s3 offset-s3 center-align">
				<a class="waves-effect waves-light btn">New Melee</a>
				<a class="waves-effect waves-light btn">Load Melee</a>
			</div> 
			<div class="col s3 center-align"> 
				<a class="waves-effect waves-light btn">New Shooting</a>
				<a class="waves-effect waves-light btn">Load Shooting</a>
			</div>
		</div>
		<div class="row"> <!-- Search results -->
			
		</div>
	</div>
</div>