<div class="container">
	<div class="row">
		<div class="col s4 offset-s4">
			<input type="text" name="search" ng-model="searchTerm" placeholder="Search Text Here">
		</div>
		<div class="row"> <!-- This div is a buttons div -->
			<div class="col s4 offset-s4 center-align"> 
				<a class="waves-effect waves-light btn" ng-href="#/calcs">New Calculation</a>
			</div>
		</div>
		<div class="row left"> <!-- Search results -->
			<div class="col s4 center-align" ng-repeat="metaData in userMetaDataEntries | filter:searchTerm">
				<h4>{{metaData.title}}</h4>
				<p>{{metaData.comment}}</p>
				<div class="tags" ng-repeat="tag in metaData.tags">
					<p>{{tag}}&nbsp;</p>
				</div> <!-- tags closer -->
				<div>
					<a class="waves-effect waves-light btn" ng-click="deleteDataCall(metaData.calcID)">Delete</a>
					<a class="waves-effect waves-light btn" ng-href="#/review/{{metaData.calcID}}" ng-click="">Review</a>
					<a class="waves-effect waves-light btn" ng-href="#/note/{{metaData.calcID}}" ng-click="">Edit Notes</a>
				</div>
			</div> <!-- repeated div for meta data -->
		</div> <!-- container div for entries -->
	</div>
</div>